{% extends 'home/basic.html' %}
{% load static %}
{% load rest_framework %}
{% block title %}
Asset Selection
{% endblock %}
{% block css %}
<style>
</style>
{% endblock %}
{% block body %}
<h2>Login</h2>
<form method="post" action="{% url 'home:login' %}">
  {% csrf_token %}
  {% render_form serializer template_pack='rest_framework/vertical' %}
  <button class="btn btn-primary" type="submit">Login</button>
  <a class="btn btn-primary" href="{% url 'home:register' %}" role="button">Register</a>
</form>
{% endblock %}
{% block js %}
<script>
</script>
{% endblock %}